openapi: 3.2.0
info:
  title: Catalog management Feed indexing API
  version: 3.0.0
servers:
- url: https://discovery.bloomreach.com/dataconnect/api/v3
security:
- bearerAuth: []
tags:
- name: Feed indexing
paths:
  /accounts/{account_name}/catalogs/{catalog_name}/environments/{environment_name}/indexes:
    parameters:
    - $ref: '#/components/parameters/AccountName'
    - $ref: '#/components/parameters/CatalogName'
    - $ref: '#/components/parameters/EnvironmentName'
    - $ref: '#/components/parameters/IndexRefreshHeader'
    - $ref: '#/components/parameters/IgnoreCountDropHeader'
    post:
      tags:
      - Feed indexing
      summary: Run an indexing job
      description: Trigger an indexing job to update the catalog's index.
      responses:
        200:
          description: OK. Click to see the response structure.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      job_id:
                        type: string
        400:
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  details:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorResponse'
        401:
          description: Unauthorized
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/404Response'
        429:
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/429Response'
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/500Response'
      operationId: postAccountsByAccountNameCatalogsByCatalogNameEnvironmentsByEnvironmentNameIndexes
      x-operation-id-source: derived
components:
  schemas:
    ErrorResponse:
      type: object
      properties:
        type:
          type: string
        title:
          type: string
        detail:
          type: string
        class:
          type: string
          enum:
          - error
          - warning
    429Response:
      description: Too Many Requests
      type: object
      properties:
        details:
          type: array
          items:
            $ref: '#/components/schemas/ErrorResponse'
    404Response:
      description: Not Found
      type: object
      properties:
        details:
          type: array
          items:
            $ref: '#/components/schemas/ErrorResponse'
    500Response:
      description: Internal Server Error
      type: object
      properties:
        details:
          type: array
          items:
            $ref: '#/components/schemas/ErrorResponse'
  parameters:
    IgnoreCountDropHeader:
      description: Optionally ignore any count drops that occur during the job, allowing the index to be updated even if the number of products drops below the allowed threshold.
      name: BR-Ignore-Document-Count-Drop
      in: header
      schema:
        type: boolean
      required: false
    EnvironmentName:
      description: The type of environment you want to use for the request (Production/Staging).
      name: environment_name
      in: path
      schema:
        type: string
        minLength: 1
        maxLength: 64
        enum:
        - production
        - staging
      required: true
    AccountName:
      description: Your unique account name.
      name: account_name
      in: path
      schema:
        type: string
        minLength: 1
        maxLength: 64
      required: true
      example: homeoasis
    IndexRefreshHeader:
      description: 'Optionally triggers a full index refresh, in which all products in the catalog are reindexed with the latest configuration.


        This only affects products that were already existing and indexed in the feed. Any newly ingested products will not be affected.'
      name: Index-Refresh
      in: header
      schema:
        type: boolean
      required: false
    CatalogName:
      description: '"Catalog name" is also called domain key. Use the same value as your domain key in your search API requests.'
      name: catalog_name
      in: path
      schema:
        type: string
        minLength: 1
        maxLength: 64
      required: true
      example: homeoasis_fr
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Key
